@model IEnumerable<BLL.TotalCash>

@{
    ViewBag.Title = "Összesített pénzmennyiség";
}

<h2>Összesített pénzmennyiségek listája</h2>

<p>
    @Html.ActionLink("Új összesített pénzmennyiség", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(String.Format("{0:### ### ###}", item.Amount)) Ft
        </td>
        <td>
            @item.Date.ToString("D")
        </td>
        <td>
            @Html.ActionLink("Módosítás", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Törlés", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
